.weather {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.weather__cities {
  padding: 20px 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-radius: 5px;
}
.weather__days {
  display: flex;
  justify-content: center;
}
.weather__error {
  color: red;
  height: 30px;
}
